extends layout

block head
  link(rel="stylesheet", href="/countries.css")  
  
block content
  h2 Countries
  table
    thead
      th ID
      th.text-center Country Code
      th.text-center Name
      th.text-center Continent
      th.text-center Region
      th.text-center Population
    tbody
      each country, i in countries
        tr
          td.fit
            a(href=`/country/${country.code}`) #{i + 1}  
          td.fit.text-center #{country.code}
          td.fit.text-center #{country.name}
          td.fit.text-center #{country.continent}
          td.fit.text-center #{country.region}
          td.fit.number
            - const population = new Intl.NumberFormat().format(country.population);
            = population
